@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Roboto+Condensed:ital@1&family=Source+Sans+Pro:wght@600&display=swap');
$color-main: #1e272e;
$color-background: #ffffff;
$color-text: #ffd32a;
$color-splash: #808e9b;

$font-family: 'Style Script', cursive;
$font-header: 'Roboto Condensed', sans-serif;
$transition: all 0.5s;